{% extends 'base.html' %}

{% block content%}
<!--
<form method="POST"> {% csrf_token%}
    {{form.as_p}}
    <input type="submit" value="Save" />
</form>
  -->
<!-- 可以自己建立搜尋
<form action="http://www.google.com/search"  method="get">
    <input type="text" name="q" placeholder="Your search"/>
    <input type="submit" value="Search" />
</form>
     -->
<!--
<form action=""  method="post"> {% csrf_token%}
    <input type="text" name="title" placeholder="Your title"/>
    <input type="submit" value="Save" />
</form>
  -->

<form action=""  method="post"> {% csrf_token%}
    {{ form.as_p}}
    <input type="submit" value="Save" />
</form>


{% endblock %}